.plant-button.active {
    filter: none;
    box-shadow: 0px 1px grey;
}

.plant-button:hover {
    filter: none;
    box-shadow: 0px 1px grey;
}

.background-canvas {
    /* width: auto;
    height: auto;
    overflow: 'auto'; */
    /* background-color: white; */
    /* background-size: 10px 10px;
    background-image:
        linear-gradient(to right, lightBlue 1px, white 1px),
        linear-gradient(to bottom, lightBlue 1px, white 1px); */
}

.btn-tool {
    background-color: transparent !important;
    color: var(--secondaryGray) !important;
    padding: 5px !important;
    border: none !important;
}

.btn-tool:hover,
.btn-tool:focus,
.btn-tool:active,
.btn-tool.active {
    background-color: var(--primaryDarkGreen) !important;
    color: white !important;
    outline: none !important;
    border: none !important;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px !important;
    height: 100% !important;
}

.folder-picker {
    overflow-y: auto;
}

.folder-label {
    font-size: 12px;
    font-weight: 500;
}

.sidebar-label {
    gap: 0;
    font-size: 12px;
    border-bottom: 1px solid var(--secondaryGray);
}

.element-picker-wrapper {
    width: 100%;
    max-width: 0;
    transition: max-width 0.5s ease-out;
}

.element-picker-wrapper.expanded {
    max-width: 1000px;
}

.element-picker-wrapper .element-picker {
    width: auto;
    max-width: 0;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px !important;
    z-index: 0;
    overflow-y: auto;
    transition: width 0.5s ease-out;
}

.element-picker-wrapper.expanded .element-picker {
    width: auto;
    max-width: 1000px;
}

.element-grid {
    padding: 5px;
    width: 250px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 1fr;
    grid-gap: 16px;
}

.element-grid .element-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.element-grid .element-container .label {
    font-weight: 500;
    color: var(--primaryDarkGreen);
    font-size: 0.9em;
    padding: 0;
    margin: 0;
}

.element-grid .element {
    color: var(--primaryDarkGreen);
    width: 100%;
    /* height: 100%; */
    position: relative;
    padding: 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: transparent;
    aspect-ratio: 1/1;
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: background-color 0.25s ease-in-out;
}

.element-grid .element:hover {
    color: white;
    position: relative;
    background-color: rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.element-grid .element img {
    width: 100%;
    height: 100%;
    aspect-ratio: 1/1;
    filter: drop-shadow(5px 5px 4px rgba(0,0,0,0.25))
}

.element .element-overlay {
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    opacity: 0;
    pointer-events: none;
}

.element:hover .element-overlay {
    opacity: 1;
}

.element-overlay-tip {
    font-size: 0.9em;
    font-weight: 500;
    color: white;
    pointer-events: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.outdoor-plant-info {
    background-color: var(--secondaryLightGreen);
}

.btn-collapse {
    width: 15px;
    border-radius: 0 !important;
    z-index: 1000;
    cursor: pointer;
    outline: 0 !important;
    border: 0 !important;
}

.btn-collapse.active {
    width: 15px;
    border-radius: 0 !important;
    z-index: 1000;
    cursor: pointer;
}

.btn-collapse:focus,
.btn-collapse:active {
    border: 0 !important;
    outline: 0 !important;
    background-color: rgba(0, 0, 0, 0.2);
}

.btn-collapse>div {
    background-color: var(--primaryDarkGreen);
    padding: 30px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0 15px 15px 0;
}

.btn-collapse.right>div {
    border-radius: 15px 0 0 15px;
}

.element-picker-wrapper .btn-collapse {
    display: none;
}

.element-picker-wrapper.expanded .btn-collapse {
    display: block;
}

.garden-settings-input .input-group-text {
    color: white;
    background-color: var(--primaryDarkGreen);
}

.element-picker-content {
    width: 100%;
    padding: 5px;
}

.plant-info-content {
    overflow-y: auto;
}

.plant-info-wrapper .plant-info {
    width: 0;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px !important;
    z-index: 0;
    /* overflow-y: auto; */
    transition: width 0.5s ease-out;
}

.plant-info-wrapper.expanded .plant-info {
    width: 250px;
}

.plant-list {
    border: 1px solid black;
    border-radius: 0 !important;
}

.plant-list-item .icon {
    visibility: hidden !important;
}

.plant-list-item.active .icon {
    visibility: visible !important;
}

.btn-list {
    background-color: rgba(0,0,0,0.15) !important;
    display: flex !important;
    justify-content: flex-start !important;
    align-items: center !important;
    border-radius: 0 !important;
}

.btn-list .label {
    text-align: left;
    font-size: 0.9em;
    font-weight: 400;
}

.plant-list-item.active .label {
    font-weight: 500;
}

.btn-list:focus,
.btn-list:active,
.btn-list.active {
    background-color: transparent !important;
}

.plant-search .element-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }

.btn-upcoming {
    background-color: transparent !important;
    color: var(--primaryDarkGreen) !important;
    border: 1px solid var(--primaryDarkGreen) !important;
    border-radius: 5px !important;
    font-size: 0.9em !important;
    font-weight: 500 !important;
    padding: 5px 10px !important;
    /* width: 100% !important; */
    text-align: center !important;
    transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out !important;
}

.btn-upcoming:hover,
.btn-upcoming:focus {
    background-color: var(--primaryDarkGreen) !important;
    color: white !important;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25) !important;
    outline: none !important;
}

.garden-settings {
    padding: 5px;
    width: 250px;
}

.side-toolbar {
    width: 25px;
}

.side-toolbar-content {
    padding: 0;
}

.btn-sidebar {
    width: 100%;
    border-radius: 5px !important;
    border: 1px solid var(--primaryDarkGreen) !important;
    padding: 0 !important;
    margin: 0 !important;
    color: var(--primaryDarkGreen) !important;
    background-color: transparent !important;
}

.btn-sidebar:focus,
.btn-sidebar:active,
.btn-sidebar:hover,
.btn-sidebar.active {
    border-radius: 5px !important;
    border: 1px solid var(--primaryDarkGreen) !important;
    color: white !important;
    background-color: var(--primaryDarkGreen) !important;
}